.home-intro-form {
  position: absolute;
  bottom: 14.5rem;
  right: 2.6rem;
  padding: 4.4rem 4.5rem 1.4rem;
  width: 42.6rem;
  background-color: white;
  @media screen and (max-width: 1500px) {
	padding-bottom: 3rem;
  }
  @media screen and (max-width: 1200px) {
  	max-width: 400px;
  }
  @media screen and (max-width: 850px) {
	padding-top: 5rem;
	width: 42.6rem;
  }
  @media screen and (max-width: 768px) {
  	bottom: 20rem
  }
  @media screen and (max-width: 576px) {
	display: none;
  }
  &__label {
	position: absolute;
	top: 39px;
	left: -40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.2rem;
	height: 4.7rem;
	background-color: #ff8d00;
	&::after {
	  content: '';
	  position: absolute;
	  top: 0;
	  right: -4.6rem;
	  width: 0;
	  height: 0;;
	  border: 2.3rem solid transparent;
	  border-left-color: #ff8d00;
	}
  }
  &__title {
	margin-bottom: 1.1rem;
	font-size: 2.8rem;
	font-weight: normal;
	letter-spacing: -0.03rem;
  }
  &__text {
	margin-bottom: 2.1rem;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #999;
  }
  .form-group {
	margin-bottom: 1.5rem;
	height: 5.5rem;
	span {
	  display: block;
	  height: 100%;
	}
  }
  .form-group--textarea {
	height: 8.8rem;
	textarea {
	  padding: 1.4rem;
	  height: 100%;
	  color: $text;
	  @include placeholder-textarea($text, left);
	}
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
	padding: 0 1.4rem;
	line-height: 1;
	height: 100%;
	color: $text;
	@include placeholder-input($text, left);
  }
  .form-footer {
	margin-top: 1.8rem;
	align-items: flex-start;
	.ajax-loader {
	  display: none;
	}
  }
  input[type="submit"] {
	margin-bottom: 3rem;
	flex: 0 0 12.5rem;
	height: 6.6rem;
	@include einasemibold;
	font-size: 1.6rem;
	text-transform: uppercase;
	background-color: $accent;
	border: none;
	&:hover {
	  background-color: darken($accent, 10%);
	}
  }
  .privacy {
	margin-top: -0.6rem;
	padding-left: 1.8rem;
	font-size: 1.2rem;
	color: #888;
	@media screen and (max-width: 576px) {
	  padding-left: 0;
	}
	&__title {
	  margin-bottom: 1rem;
	  @include einabold;
	}
	.wpcf7-list-item-label {
	  margin-left: 0;
	  padding-top: 0;
	  padding-left: 2.1rem;
	  font-size: 1.2rem;
	  line-height: 1.3;
	  letter-spacing: -0.05rem;
	  &::before {
		top: 0.4rem;
		left: 0;
		width: 1.3rem;
		height: 1.3rem;
		border-color: $accent;
	  }
	  &::after {
		top: 0.6rem;
		left: 0.3rem;
		width: 0.7rem;
		height: 0.7rem;
		background-image: url(../i/static/check-accent.svg);
	  }
	}
	a {
	  color: $accent;
	}
  }
}

