.page-blog {
  .page-intro {
    height: 45rem;
  }
  .site-bg {
    padding-top: 10.7rem;

    @media screen and (max-width: 550px) {
      padding-top: 7rem;
    }
  }
  &__title {
    margin-bottom: 2.1rem;
    letter-spacing: 0.03rem;
  }
  &__text {
    margin-bottom: 0.1rem;
    font-size: 2rem;
    letter-spacing: -0.04rem;
  }
}
